
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'inter', sans-serif;
}

body{
    background: #E8E8E8;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#Cabecalho{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0 0 0 ;
    border-bottom: solid 6px #000957;
    padding: 0 0 25px 0;
}

#Image{
    width: 69px;
    height: 69px;
    margin: 0 0 0 50px;
}

#Bar{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 0 35px 0 0;
}

#Bar a{
    color: #000957;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 0 30px;
    width: 90px;
    height: 30px;
}

#Bar a:hover{
    width: 90px;
    height: 30px;
    background: #9B9B9B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#Titulo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 50px;
    
}

#Rodape{
    display: flex;
    justify-content: center;
}

#CorpoRodape{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 18x;
    font-weight: bold;
    color: #535353;
    background: #d3d3d3;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px 0 5px 0 ;
}

.redes{
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0 auto;
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
}

.redes :hover{
    color: #000957;
    font-size: 23px;
}